@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Please follow below steps to use the app</h4>
    <p>1. Use the Register button from top right corner. There are 2 account types as of now, "Admin" & "SecurityPersonnel". Use Admin if this is the first time as only Admin is allowed to create new Routes.</p>
    <p>2. After logging with Admin user, use Route Page to create new route.</p>
    <p>3. Use Vehicle page to create new vehicle and assign to a Route. The status of vehicle can be updated from this page itself.</p>
    <p>4. Use Security Teams page to create security teams and assign to vehicles. Security team can be assigned and dismissed from this page.</p>
    <p>Note - "SecurityPersonnel" type user doesn't have access of Routes page as only Admin can add new Routes in the system.</p>
</div>
